---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
  <main class="overflow-auto">
    <div class="flex place-content-center">
      <h1 class="text-slate-100 text-5xl mx-5 text-center block py-5 max-w-md">
        Evolución de los almacenes
      </h1>
    </div>
    <div
      class="flex overflow-auto justify-center max-sm:justify-start text-center"
    >
      <table class="table-fixed text-slate-100 m-5 max-w-2xl">
        <thead>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="col" class="p-3">Revolución</th>
            <th scope="col" class="p-3">Materias primas</th>
            <th scope="col" class="p-3">Descubrimientos</th>
            <th scope="col" class="p-3">Aplicaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="p-3">Primera</th>
            <td class="p-3">Hierro, madera, carbón</td>
            <td class="p-3">Introducción de la máquina de vapor</td>
            <td class="p-3"
              >Uso de grúas y mecanismos básicos para mover cargas en almacenes
              portuarios</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="p-3">Segunda</th>
            <td class="p-3">Acero, electricidad, petróleo</td>
            <td class="p-3">Motores eléctricos, producción en masa</td>
            <td class="p-3"
              >Almacenes con sistemas eléctricos para iluminación y primeros
              sistemas de cintas transportadoras</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="p-3">Tercera</th>
            <td class="p-3">Silicio, plásticos, computadoras</td>
            <td class="p-3">Computadoras, automatización inicial</td>
            <td class="p-3"
              >Introducción de sistemas de gestión de inventarios computarizados
              y robots básicos</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="p-3">Cuarta</th>
            <td class="px-3"
              >IA, IoT, robótica avanzada, energías sostenibles</td
            >
            <td class="px-3"
              >Robótica avanzada, Big Data, IA, Machine Learning</td
            >
            <td class="p-3"
              >Almacenes inteligentes automatizados con robots, sensores IoT,
              optimización energética</td
            >
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-slate-100 text-5xl mx-5 text-center block py-5 max-w-md">
        Organización de la empresa
      </h1>
    </div>
    <div
      class="flex overflow-auto justify-center items-center max-sm:justify-start"
    >
      <img
        src="/organigrama.png"
        alt="Organigrama de la empresa"
        class="p-5 min-w-[600px]"
      />
    </div>
  </main>
</Layout>
