---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
  <main>
    <section class="flex flex-col items-center min-h-screen text-center">
      <h1 class="text-slate-100 text-5xl text-center block py-5 max-w-md">
        Evolución de los almacenes
      </h1>
      <table class="table-auto text-slate-100 max-w-xl max-sm:max-w-80">
        <thead>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="col" class="px-4 py-2 max-sm:px-1">Revolución</th>
            <th scope="col" class="px-4 py-2 max-sm:px-1">Materias primas</th>
            <th scope="col" class="px-4 py-2 max-sm:px-1">Descubrimientos</th>
            <th scope="col" class="px-4 py-2 max-sm:px-1">Aplicaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="px-4 py-2 max-sm:px-1">Primera</th>
            <td class="px-4 py-2">Hierro, madera, carbón</td>
            <td class="px-4 py-2">Introducción de la máquina de vapor</td>
            <td
              >Uso de grúas y mecanismos básicos para mover cargas en almacenes
              portuarios</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="px-4 py-2 max-sm:px-1">Segunda</th>
            <td class="px-4 py-2">Acero, electricidad, petróleo</td>
            <td class="px-4 py-2">Motores eléctricos, producción en masa</td>
            <td
              >Almacenes con sistemas eléctricos para iluminación y primeros
              sistemas de cintas transportadoras</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="px-4 py-2 max-sm:px-1">Tercera</th>
            <td class="px-4 py-2">Silicio, plásticos, computadoras</td>
            <td class="px-4 py-2">Computadoras, automatización inicial</td>
            <td
              >Introducción de sistemas de gestión de inventarios computarizados
              y robots básicos</td
            >
          </tr>
          <tr
            class="border-b border-teal-200 bg-gradient-to-r from-cyan-500 to-blue-800"
          >
            <th scope="row" class="px-4 py-2 max-sm:px-1">Cuarta</th>
            <td class="px-4 py-2"
              >IA, IoT, robótica avanzada, energías sostenibles</td
            >
            <td class="px-4 py-2"
              >Robótica avanzada, Big Data, IA, Machine Learning</td
            >
            <td
              >Almacenes inteligentes automatizados con robots, sensores IoT,
              optimización energética</td
            >
          </tr>
        </tbody>
      </table>
    </section>
    <section class="flex flex-col items-center min-h-screen text-center">
      <h1 class="text-slate-100 text-5xl text-center block py-5 max-w-md">
        Organigrama de la empresa
      </h1>
      <img src="/organigrama.png" alt="Organigrama de la empresa" />
    </section>
  </main>
</Layout>
