---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main>
    <section class="flex flex-col text-slate-100 items-center min-h-screen">
      <h1 class="text-5xl text-center py-5 max-w-lg">Contacto</h1>
      <p class="max-w-xl max-sm:max-w-80">Email: soporte@dynsoul.com</p>
      <p class="max-w-xl max-sm:max-w-80">Teléfono: +34 333 666 999</p>
    </section>
  </main>
</Layout>
