---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main class="text-slate-100">
    <section class="flex flex-col justify-center items-center">
      <h1 class="text-5xl my-5">Contacto</h1>
      <div>
        <p class="text-xl">Email: soporte@dynsoul.com</p>
        <p class="text-xl">Teléfono: +34 333 666 999</p>
      </div>
    </section>
    <section class="flex flex-col justify-center items-center my-5">
      <h2 class="text-4xl my-5">Redes sociales</h2>
      <section class="flex flex-col justify-center items-center">
        <a
          href="#"
          class="hover:bg-gradient-to-r from-orange-100 to-orange-500 rounded-full px-5"
        >
          <span class="flex items-center gap-5">
            <img
              src="/linkedin.svg"
              width="48"
              alt="Logo de LinkedIn"
              class="shadow-lg bg-slate-100/60 my-3 rounded-full"
            />
            <p class="text-2xl">/DynSoul</p>
          </span>
        </a>
      </section>
      <section class="flex flex-col justify-center items-center">
        <a
          href="#"
          class="hover:bg-gradient-to-r from-orange-100 to-orange-500 rounded-full px-5"
        >
          <span class="flex items-center gap-5">
            <img
              src="/instagram.svg"
              width="48"
              alt="Logo de Instagram"
              class="shadow-lg bg-slate-100/60 my-3 rounded-full"
            />
            <p class="text-2xl">/DynSoul</p>
          </span>
        </a>
      </section>
      <section class="flex flex-col justify-center items-center">
        <a
          href="#"
          class="hover:bg-gradient-to-r from-orange-100 to-orange-500 rounded-full px-5"
        >
          <span class="flex items-center gap-5">
            <img
              src="/x.svg"
              width="48"
              alt="Logo de X"
              class="shadow-lg bg-slate-100/60 my-3 rounded-full"
            />
            <p class="text-2xl">/DynSoul</p>
          </span>
        </a>
      </section>
      <section class="flex flex-col justify-center items-center">
        <a
          href="#"
          class="hover:bg-gradient-to-r from-orange-100 to-orange-500 rounded-full px-5"
        >
          <span class="flex items-center gap-5">
            <img
              src="/tiktok.svg"
              width="48"
              alt="Logo de TikTok"
              class="shadow-lg bg-slate-100/60 my-3 rounded-full"
            />
            <p class="text-2xl">/DynSoul</p>
          </span>
        </a>
      </section>
    </section>
  </main>
</Layout>

<style is:inline>
  a:hover span img {
    box-shadow: none;
    background-color: transparent;
  }
</style>
