---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main>
    <section
      class="flex flex-col text-slate-100 justify-center items-center min-h-screen"
    >
      <h1 class="text-5xl text-center py-5 max-w-lg">Contacto</h1>
      <p class="max-w-xl max-sm:max-w-80">Email: rojohnibana@gmail.com</p>
    </section>
  </main>
</Layout>
