---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
	<main>
		<section
			class="flex flex-col justify-center items-center min-h-screen text-center"
		>
			<div class="flex justify-between gap-5 items-center my-5">
				<img src="/dynsoul.svg" width="64" alt="DynSoul logo" />
				<h1 class="text-slate-100 text-8xl">DynSoul</h1>
			</div>
			<p class="text-slate-100 max-w-xl max-sm:max-w-80">
				DynSoul, la solución integral para la gestión de almacenes en la era
				digital. Nuestra empresa se dedica a optimizar y transformar
				digitalmente la logística y el almacenamiento, ofreciendo soluciones
				innovadoras y personalizadas para mejorar la eficiencia y productividad
				de tu negocio. Con DynSoul, lleva tu gestión de almacenes al siguiente
				nivel.
			</p>
		</section>
		<section
			class="flex flex-col justify-center items-center min-h-screen text-center"
		>
			<h1 class="text-slate-100 text-5xl block py-5">Foo</h1>
			<p class="text-slate-100 max-w-xl max-sm:max-w-80">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
		</section>
	</main>
</Layout>
