---
import New from "../../components/New.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Convergencia IT-OT";
---

<Layout title={title}>
  <New title={title}>
    <p>a</p>
  </New>
</Layout>
