<article class="flexbox bg-blue-500 text-slate-100 w-96 max-sm:w-80">
  <header class="bg-teal-600 text-center py-1 border border-black border-1">
    <slot name="title" />
  </header>
  <section class="bg-teal-500 px-5 py-5 border border-black border-1">
    <slot name="description" />
  </section>
  <footer
    class="italic bg-teal-700 text-center border border-black border-1 hover:underline"
  >
    <slot name="footer" />
  </footer>
</article>
