<footer
  class="flex flex-col bg-blue-400 text-slate-900 min-h-52 text-center justify-center border-y-2 border-blue-300"
>
  <a href="/" class="flex justify-center items-center mb-5">
    <img
      src="/dynsoul.svg"
      width="32"
      alt="Logotipo de DynSoul, al hacer click te lleva al Inicio"
    />
  </a>
  <p class="ml-2">© 2024 SrVariable</p>
  <a
    href="https://github.com/SrVariable/DynSoul"
    target="_blank"
    rel="noopener noreferrer"
    class="ml-2 hover:underline hover:text-blue-200"
    >Ver código fuente en GitHub
  </a>
</footer>
