---
import Social from "./Social.astro";
---

<footer
  class="flex flex-col bg-blue-400 text-slate-900 min-h-52 text-center justify-center border-y-2 border-blue-300"
>
  <a href="/" class="flex justify-center items-center mb-5 w-16 mx-auto">
    <img
      src="/dynsoul.svg"
      width="42"
      alt="Logotipo de DynSoul, al hacer click te lleva al Inicio"
      loading="lazy"
    />
  </a>
  <p class="ml-2">© 2024 SrVariable</p>
  <div class="items-center justify-center inline-flex gap-3">
    <Social>
      <div slot="logo">
        <a href="#"
          ><img
            src="/linkedin.svg"
            width="32"
            alt="Logo de LinkedIn"
            class="shadow-lg bg-slate-100/60 my-3 rounded-full"
          />
        </a>
      </div>
    </Social>
    <Social>
      <div slot="logo">
        <a href="#"
          ><img
            src="/instagram.svg"
            width="32"
            alt="Logo de Instagram"
            class="shadow-lg bg-slate-100/60 my-3 rounded-full"
          />
        </a>
      </div>
    </Social>
    <Social>
      <div slot="logo">
        <a href="#"
          ><img
            src="/x.svg"
            width="32"
            alt="Logo de X"
            class="shadow-lg bg-slate-100/60 my-3 rounded-full"
          />
        </a>
      </div>
    </Social>
    <Social>
      <div slot="logo">
        <a href="#"
          ><img
            src="/tiktok.svg"
            width="32"
            alt="Logo de TikTok"
            class="shadow-lg bg-slate-100/60 my-3 rounded-full"
          />
        </a>
      </div>
    </Social>
  </div>
  <a
    href="https://github.com/ribaban-DAW/DynSoul"
    target="_blank"
    rel="noopener noreferrer"
    class="ml-2 hover:underline hover:text-blue-200"
    >Ver código fuente en GitHub
  </a>
</footer>
