<nav
  class="flex bg-blue-400 justify-between items-center sticky top-0 border-y-2 border-blue-300 text-slate-900 shadow-xl"
>
  <div class="flex-none max-sm:py-3 max-sm:absolute max-sm:left-1/2">
    <a href="/"
      ><img
        src="/dynsoul.svg"
        width="64"
        alt="Logotipo de DynSoul, al hacer click te lleva al Inicio"
        class="px-3"
      /></a
    >
  </div>
  <div
    class="flex flex-grow justify-center items-center text-center max-sm:hidden"
  >
    <a
      href="/solutions"
      class="px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300"
      >Soluciones</a
    >
    <a
      href="/about"
      class="px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300"
      >Sobre nosotros</a
    >
    <a
      href="/contact"
      class="px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300"
      >Contacto</a
    >
  </div>
  <div class="sm:hidden">
    <button class="flex justify-center items-end p-3" id="menu-button"
      ><img src="menu.svg" alt="" width="32" /></button
    >
    <div
      id="menu"
      class="hidden absolute top-14 left-0 w-full bg-blue-400 flex-col"
    >
      <a
        href="/solutions"
        class="block px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300 text-center"
        >Soluciones</a
      >
      <a
        href="/about"
        class="block px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300 text-center"
        >Sobre nosotros</a
      >
      <a
        href="/contact"
        class="block px-3 py-3 my-1 rounded-md hover:text-blue-500 hover:bg-blue-300 text-center"
        >Contacto</a
      >
    </div>
  </div>
</nav>

<script lang="ts">
  document
    .getElementById("menu-button")
    ?.addEventListener("click", function () {
      const menu = document.getElementById("menu");
      if (menu) {
        if (menu.classList.contains("hidden")) {
          menu.classList.remove("hidden");
          menu.classList.add("block");
        } else {
          menu.classList.add("hidden");
          menu.classList.remove("block");
        }
      }
    });
</script>
